<div class="container">
  <div class="row">
    <div class="col-md-4">
      <address *ngIf="locationInfo">
        <strong>{{locationInfo[0].dba}}</strong><br>
        {{locationInfo[0].building}} {{locationInfo[0].street}}<br>
        {{locationInfo[0].boro}}, {{locationInfo[0].zipcode}}<br>
        <abbr title="Phone"></abbr>1({{locationInfo[0].phone | slice:0:3}}) {{locationInfo[0].phone | slice:3:6}}-{{locationInfo[0].phone | slice:6:10}}
      </address>
      <ngb-rating 
        [(rate)]="selected" 
        [readonly]="data-readonly"></ngb-rating>

        <hr>
        
       
    </div>
    <div class="col-md-8">
        <app-map></app-map>
    </div>
  </div>
  
</div>


